In [1]:
#import all important libraries
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
crop = pd.read_csv(r"E:\sample\eda_\Crop_recommendation.csv")
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:
crop.shape

(2200, 8)

In [ ]:
crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [ ]:
crop.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [ ]:
crop.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [ ]:
print(crop.dtypes)

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [ ]:
crop.corr()

ValueError: could not convert string to float: 'rice'

In [ ]:
# List of expected numeric columns
numeric_columns = ['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']

# Convert each to numeric (invalid strings become NaN)
for col in numeric_columns:
    crop[col] = pd.to_numeric(crop[col], errors='coerce')

# Drop rows with NaN (e.g., where 'rice' was accidentally in a numeric column)
crop = crop.dropna()
print(crop.corr())

ValueError: could not convert string to float: 'rice'

In [ ]:
crop.label.value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [ ]:
crop['label'].unique().size

22

In [ ]:
crop_dict = {
    'rice':1,        
    'maize':2,
    'jute':3,
    'cotton':4,
    'coconut':5,
    'papaya':6,
    'orange':7,
    'apple':8,
    'muskmelon':9,
    'watermelon':10,
    'grapes':11,
    'mango':12,
    'banana':13,
    'pomegranate':14,
    'lentil':15,
    'blackgram':16,
    'mungbean':17,
    'mothbeans':18,
    'pigeonpeas':19,
    'kidneybeans':20,
    'chickpea':21,
    'coffee':22        
}
crop['label'] = crop['label'].map(crop_dict)

In [ ]:
crop

        N   P   K  temperature   humidity        ph    rainfall  label
0      90  42  43    20.879744  82.002744  6.502985  202.935536      1
1      85  58  41    21.770462  80.319644  7.038096  226.655537      1
2      60  55  44    23.004459  82.320763  7.840207  263.964248      1
3      74  35  40    26.491096  80.158363  6.980401  242.864034      1
4      78  42  42    20.130175  81.604873  7.628473  262.717340      1
...   ...  ..  ..          ...        ...       ...         ...    ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507     22
2196   99  15  27    27.417112  56.636362  6.086922  127.924610     22
2197  118  33  30    24.131797  67.225123  6.362608  173.322839     22
2198  117  32  34    26.272418  52.127394  6.758793  127.175293     22
2199  104  18  30    23.603016  60.396475  6.779833  140.937041     22

[2200 rows x 8 columns]

In [ ]:
X = crop.drop('label',axis =1)
y = crop['label']

In [ ]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: label, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.2,random_state=42)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mx = MinMaxScaler()
X_train =  mx.fit_transform(X_train)
X_test = mx.transform(X_test)

In [ ]:
X_train

array([[0.12142857, 0.07857143, 0.045     , ..., 0.9089898 , 0.48532225,
        0.29685161],
       [0.26428571, 0.52857143, 0.07      , ..., 0.64257946, 0.56594073,
        0.17630752],
       [0.05      , 0.48571429, 0.1       , ..., 0.57005802, 0.58835229,
        0.08931844],
       ...,
       [0.07857143, 0.22142857, 0.13      , ..., 0.43760347, 0.46198144,
        0.28719815],
       [0.07857143, 0.85      , 0.995     , ..., 0.76763665, 0.44420505,
        0.18346657],
       [0.22857143, 0.52142857, 0.085     , ..., 0.56099735, 0.54465022,
        0.11879596]])

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test=sc.transform(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
randclf = RandomForestClassifier()
randclf.fit(X_train,y_train)
y_pred = randclf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9931818181818182

In [ ]:
crop.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [ ]:
def recommendation(N,P,K,temperature,humidity,ph,rainfall):
    features = np.array([[N,P,K,temperature,humidity,ph,rainfall]])
    mx_features = mx.fit_transform(features)
    sc_mx_features=sc.fit_transform(mx_features)
    prediction = randclf.predict(sc_mx_features).reshape(1,-1)
    return prediction[0]

In [ ]:
N = 90
P = 42
K = 43
temperature = 40.0 
humidity = 22
ph = 7
rainfall = 202
predict = recommendation(N,P,K,temperature,humidity,ph,rainfall)

In [ ]:
crop.head(10)

    N   P   K  temperature   humidity        ph    rainfall  label
0  90  42  43    20.879744  82.002744  6.502985  202.935536      1
1  85  58  41    21.770462  80.319644  7.038096  226.655537      1
2  60  55  44    23.004459  82.320763  7.840207  263.964248      1
3  74  35  40    26.491096  80.158363  6.980401  242.864034      1
4  78  42  42    20.130175  81.604873  7.628473  262.717340      1
5  69  37  42    23.058049  83.370118  7.073454  251.055000      1
6  69  55  38    22.708838  82.639414  5.700806  271.324860      1
7  94  53  40    20.277744  82.894086  5.718627  241.974195      1
8  89  54  38    24.515881  83.535216  6.685346  230.446236      1
9  68  58  38    23.223974  83.033227  6.336254  221.209196      1

In [ ]:
predict

array([6], dtype=int64)